<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Placeholder</title>
</head>
<body>

<h1>Hi there! I ran out of time to finish all the different standards pages.</h1>
<h2>It takes quite a lot of time and involves refactoring JSON files and all sorts of hidden html terms.</h2>
<p>Current the only finished standards/ pages are:</p>
<ul>
    <li>Bench</li>
    <li>Squat</li>
    <li>Deadlift</li>
    <li>Pull-ups</li>
    <li>Barbell Curl</li>
    <li>Bent over Row</li>
    <li>Dips</li>
    <li>Dumbbell Row</li>
    <li>Close Grip Bench Press</li>
</ul>

<a href = /standards> Press me to return to the standards page.</a>

</body>
</html>